@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url("nav.css");

body {
    background: #8f8;
    color: black;
    font-family: 'Cambria Math', 'Kurale', sans-serif;
    font-size: 12px;
    line-height: 1;
}


/* --------------------------------- USTAWIENIA NAGŁÓWKA STRONY --------------------------------- */
body > header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
}
body > header h1 {
    background:  #808080;
    margin: 0;
    border-radius: 10px;
    line-height: 50px;
    vertical-align: middle;
    box-shadow:  0 0 20px #202020 inset;
    text-shadow: 2px 1px 0px #bbb;
}
aside#arrow_left { float: left; }
aside#arrow_right { float: right; }
aside#arrow_left i, aside#arrow_right i {
    margin: 0 5px;
    line-height: 50px;
    font-size:32px;
    color: #fff;
}
aside#arrow_left i:hover, aside#arrow_right i:hover { color: #000; }


/* --------------------------------- USTAWIENIA GŁÓWNEJ ZAWARTOŚCI STRONY --------------------------------- */
section#main-content { margin: 60px 5px 5px 190px; }
section#main-content ul.nav { border-bottom: 3px double #333; }
section#main-content li.nav-item {
    margin: 3px;
    border-left: 3px solid #8f8;
    border-right: 3px solid #8f8;
    border-radius: 10px 10px 0 0;
    background: #5c5;
}
section#main-content a.nav-link {
    padding: 0;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: 14px;
    color: #050;
}
section#main-content a.nav-link:hover {
    border: 2px solid #000;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background: #393;
    color: #8f8;
}


/* ----------------------------------------- FORMULARZE ----------------------------------------- */
input, select { background: #373; border: 2px solid #050; border-radius: 5px; color: #eee; padding: 5px; }
input:focus { background: #7a7; border: 2px solid #050; border-radius: 5px; color: #eee; padding: 5px; }
button          { background: #5a5; color: #fff; border: 3px solid #fff; border-radius: 10px; padding: 10px; font-size: 125%; }
button:hover    { background: #9f9; color: #000; border-color: #050; }
tr#createRow td.create { text-align: center; }
tr#createRow td.create button { width: 100px; }


/* ------------------------------------------- TABELE ------------------------------------------- */
table { margin: auto; }
tr:nth-of-type(even){ background: #5b5; }
tr:nth-of-type(odd)	{ background: #7e7; }
tr.submit, tr.create { text-align: center; }
tr:hover { background: #494; }
td, th {
    padding: 2px 5px;
    border: 1px solid #000;
}
th {
    background: #5c5;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}
tr.create td { padding: 2px; }
tr.create button { width: 80%; }
td.edit, td.destroy {
    padding: 0;
    width: 36px;
}
td.error {
    background: #b73;
    color: #fd7;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}


/* ----------------------------------------- HIPERŁĄCZA ----------------------------------------- */
table a { color: #151; }
th a { color: #070; }
table a:hover {
    text-decoration: none;
    color: #55f;
}
tr.create a {
    width: 100%;
    line-height: 100%;
    padding: 8px 0;
}
td.edit a {
    width: 100%;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 0;
}

/* -------------------------------------- OBRAZY, ZDJĘCIA --------------------------------------- */